<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 offset-lg-1 exchange_box">
      <div class="form-row">
        <%= render "shared/convert_box" %>
      </div>
    </div>
  </div>
</div>
