body {
  background: image-url("/background-img.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

.title-box{
  margin-top: 20%;
  .title{
    color: white;
    text-shadow: 2px 0px 2px #000000;
  }
}

.convert_box{
  margin: 60px auto;
  }
